.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem;
    background-color: #6f20a9;
    border-radius: 15px;
    margin: 0.2rem;
    box-shadow: 5px 5px 10px 0px rgba(62,7,100,0.5);
}

.nav h1{
    margin-left: 2rem;
    font-size: 2.5rem;
    color: #3e0764;
}

.nav h1 span{
    color: #c383fd;
}

.nav ul{
    display: flex;
    width: 250px;
    margin-right: 3rem;
    list-style: none;
}

.nav ul li a{
    background-color: #6f20a9;
    justify-content: space-around;
    text-decoration: none;
    border: none;
    color: #ad55f7;
    font-size: 1.6rem;
    margin-left: 0.8rem;
    
}

.nav ul li span{
    font-size: 1.2rem;
    color: #3e0764;
    margin-left: 0.4rem;
}