.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 80vh;
    width: 20vw;
    background-color: #5b1c87;
    border-radius: 15px;
    box-shadow: 5px 5px 10px 0px rgba(62,7,100,0.5);
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}

.sidebar ul{
    list-style: none;
    margin-top: 1rem;
}

.sidebar ul li{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    color: #1f0432;
}

.sidebar ul li button{
    border: none;
    background-color: #5b1c87;
    color: #1f0432;
}

.sidebar ul li button span{
    font-size: 2rem;
    margin-left: 0.5rem;
}

.sidebar ul li span{
    font-size: 2rem;
    margin-left: 0.5rem;
}

.user{
    display: flex;
    flex-direction: column;
    width: 95%;
    border-bottom: 2px solid #8F20E9;
    font-size: 3.5rem;
    margin-top: 2rem;
    padding-bottom: 0.8rem;
    box-shadow: 5px 5px 10px 0px rgba(91,28,135,0.5);
}

.userInfo{
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
    color: black;
}

.userInfo h1{
    font-size: 1.6rem;
    color: #8321cf;
    margin-left: 1rem;
}

.user h3{
    font-size: 0.8rem;
    align-self: center;
    color: #3e0764;
}



